#root {
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#game-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
}

table, tr, td {
  border: 2px solid white;
}

td {
  width: 150px;
  height: 150px;
}

button {
  height: 35px;
  width: 85px;
}